.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.notActive {
    padding: 22px 24px;
}

.topnav a:hover {
    text-decoration: none;
}

.active {
    background: rgba(255, 255, 255, 0);
    border: white;
    border-style: solid;
    border-width: 2px; 
    padding: 20px 22px;
    color: #fff;
    border-radius: 5px;
}

.topnav .icon {
    display: none;
}

.fieldday4 { 
    background: url(fieldday4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

.fieldday7 { 
    background: url(fieldday7.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

.juniorgenies { 
    background: url(juniorgenies.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

.marian { 
    background: url(marian.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

.wallswoman { 
    background: url(wallswoman.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

.number1 { 
    background: url(number1.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

.allhail { 
    background: url(allhail.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

.wat2018 { 
    background: url(2018wat.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}

.topback {
    background-color:rgba(0, 0, 0, 0.8);
}

.name {
    margin-bottom: 0px;
}

.name h2 {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100px;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.footer {
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    bottom: 0;
    right: 0;
    text-align: left;
}

p {
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

ul {
    text-align: left;
    font-size: 24pt;
    font-family: sans-serif;
    color: white;
    padding: 5px;
}

.none {
    list-style: none;
    padding-top: 12px;
}

li {
    text-align: left;
    font-size: 18pt;
    font-family: sans-serif;
    color: white;
    padding: 8px;
}

a {
    color: lightblue;
}

li.about {
    text-indent: 36px;
}

.title {
    text-align: left;
    font-size: 36pt;
    font-family: sans-serif;
    color: white;
    padding-top: 20px;
}

body {
    padding: 20px;
}

iframe {
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: darkgray;
}

.points {
    list-style-type: circle;
    padding-left: 24px;
    padding-top: 18px;
}

img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}